<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
</head>
<body>
    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <% if (notes && notes.length > 0) { %>
                        <% notes.forEach((note, index) => { %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6><%= note.title %></h6>
                                    <small><%= note.createdAt %></small>
                                </div>
                                <p class="mb-2"><%= note.description %></p>
                                <div class="d-flex">
                                    <small class="pe-2"><%= note.author %></small>
                                    <small><%= note.readTime %></small>
                                </div>
                                <a href="/edit/<%= index %>" class="btn btn-secondary d-flex align-items-center mt-2">Edit</a>
                                <form action="/delete/<%= index %>" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-danger gap-2 mt-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                      </svg>
                                      <span class="ms-1">Delete</span>
                                    </button>
                                </form>
                            </a>
                        <% }); %>
                    <% } else { %>
                        <p>Create a post to display it.</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
